# .NET (Server → SistemasDistribuidosServer)
SistemasDistribuidosServer/bin/
SistemasDistribuidosServer/obj/
SistemasDistribuidosServer/*.user
SistemasDistribuidosServer/*.vs/

# Python (Proxy)
Proxy/__pycache__/
Proxy/*.py[cod]
Proxy/venv/
Proxy/env/
Proxy/.env

# Node.js (Client)
Client/node_modules/
Client/npm-debug.log*
Client/yarn-error.log*
Client/dist/
Client/build/

# Outros
*.log
.DS_Store
Thumbs.db
